extends layout

block content
	h1 GeoJS
	form(name="add-estimation", action=/geojs/, method="post")
		div.input
			p insert your City

			input(type="text", name="#{city}", placeholder="your #{city}")

			p insert your Country

			input(type="text", name="#{country}", placeholder="your #{country}")

			p Position
			
			input(type="text", name="#{latitude}", placeholder="your #{latitude}")
			input(type="text", name="#{longitude}", placeholder="your #{longitude}")
		div.actions
			p Press the 'SEND GEO' button to send the data

			input(type="submit" value=" SEND GEO ") 
			